<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
  <div class="container-fluid">

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Adicionar Links</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/books">Atualizar Lista</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/books/prices?active=true">Lista Ativa</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/books/prices?orderBy=title">Lista Ord. Título</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/books/prices?orderBy=percentage">Lista Ord. Percentual</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/books/prices?orderBy=percentage&type=last">Lista Ord. Percentual Atual</a>
        </li>


      </ul>
    </div>
  </div>
</nav>